/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Font Styles 
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@mixin fontStyle($name, $size) {
    font-family: $name;
    font-size: unquote(calculateRem($size));
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    02. Font Size in rem
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@mixin fontSize-rem($size) {
    font-size: calculateRem($size);
}