/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Fonts Names - Variables
---------------------------------------------------------------------------------------------------------------------------------------------------- */
// Add your fonts variables here...


/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    02. Include Fonts
---------------------------------------------------------------------------------------------------------------------------------------------------- */
// Add your fonts face here...

/*
    example:
    @font-face {
        font-family: 'FontName';
        src: url(../fonts/FontName.otf) format('truetype');
    }
*/


/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    03. Text Sizes - Class
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@for $i from 8 through 72 {
    .text-#{$i}{
        font-size: $i / 16+rem !important;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    04. Text Colors - Classes
---------------------------------------------------------------------------------------------------------------------------------------------------- */
.black-text{
    color: $black !important;
}
.white-text{
    color: $white !important;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    05. Text Styles - Class
---------------------------------------------------------------------------------------------------------------------------------------------------- */
.bold-text{
    font-weight: bold;
}

.bolder-text{
    font-weight: bolder;
}