/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Directions
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$Dir: rtl;
$left: right;
$right: left;